#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #212121;
  color: silver;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 40px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 0 10px;
  border-radius: 10px;
  background: #000054;
  background: linear-gradient(137deg, rgb(2, 161, 79) 36%, rgba(0, 117, 140, 1) 100%);
  border: 1px solid white;
  color: whitesmoke;
  cursor: pointer;
}